flask
flask_restful
aiohttp
aiofiles
beautifulsoup4
googlesearch-python==1.0.1
gitpython
humanize
httpx
heroku3
requests
motor
opencv-python-headless
pymongo==4.3.2
python-dotenv
pymediainfo
prettytable
tgcrypto
telegraph
uwuify
gtts
gpytranslate
pyrogram @ git+https://github.com/doraemon890/pyrogram
py-trans @ git+https://github.com/Itz-fork/py-trans.git
pytgcalls
ffmpeg-python